body {
  background: url(../IMG/fondo_ind.png);
  background-attachment: fixed;
  background-color: rgb(252, 252, 252);
  font-family: sans-serif;
  padding-bottom: 50px;
  margin: 0;
  padding: 0;
}

* {
  word-wrap: break-word;
  text-align: center;
}

img {
  background-color: rgba(255, 255, 255, 0.233);
  width: 100%;
}
.navbar {
  background-color: rgba(49, 48, 48, 0.774);
}
.navegacion h2 {
  background-color: #7b68ee;
  line-height: 1.5;
  color: black;
}

.contenedor {
  color: black;
  box-sizing: content-box;
  background-color: rgba(34, 33, 33, 0.692);
  padding: 2% 5% 5% 5%;
}

.contenido-taller {
  border: 2px solid black;
  background-color: #732686;
  overflow: auto;
  display: inline-flex;
  width: 100%;
  max-width: 100%;
}

.contenido {
  background-color: #732686;
  width: 50%;
  margin: 1%;
  padding: 1%;
  overflow: auto;
  color: white;
}

.contenido p {
  text-align: justify;
}

textarea {
  text-align: justify;
  background-color: #aa77aa;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.mostrar {
  width: 50%;
  padding: 10px;
  overflow: auto;
  background-color: white;
}

.mensaje {
  position: absolute;
  right: 25%;
  bottom: 0;
  padding: 1%;
  background-color: #732686;
  color: white;
  box-sizing: content-box;
  border: 1px solid black;
  font-size: 20px;
  max-width: 100%;
  display: inline-block;
}

.mensaje a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.mensaje button {
  max-width: 100%;
}
.navegacion {
  width: 100%;
  background-color: #7b68ee;
  margin: 0 0 1% 0;
}

.navegacion2{
  width: 100%;
  margin: 1%;
}

.botones {
  display: inline-flex;
  text-align: center;
}

.botones h2,h3 {
  margin: 0 10px 0 10px;
}

.botones a {
  margin-top: 5px;
}
button{
  font-size: 20px;
  background-color: #a3a3a3;
}

#t{
  background-color: #7b68ee;
  line-height: 1.5;
  color: black;
}